@(who: String)

<!doctype html>
<html>
    <head>
        <title>Your first app</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet"/>
        <link href="/assets/css/main.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="center">
            <h1>Hello @who!</h1>
        </div>
        <script src="/assets/js/main.js"></script>
    </body>
</html>